{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<style>
label {
    display: none;
}
input[type=text]{
    width: 100%;
}
textarea {
    width: 100%;
}
input[type=submit]{
    width: 100%;
    background: #ce8a00;
    border:1px solid #af0000;
    box-shadow: inset 0px 0px 8px 1px #af0000;
    border-radius: 3px;
}
input#id_wideo {
    width: 100%;
}
</style>
{% endblock %}
{% block content %}
<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Gotowe" />
</form>
{% endblock %}
{% block javascript %}
{% endblock %}
