{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<style>
label {
    color: #ce8a00;
    font-family: KingThingsPetrock;
    text-shadow: 1px 1px 8px #af0000;
    font-size:24px;
}
input[type=text]{
    width: 100%;
}
textarea {
    width: 100%;
}
input[type=submit]{
    width: 100%;
    background: #ce8a00;
    border:1px solid #af0000;
    box-shadow: inset 0px 0px 8px 1px #af0000;
    border-radius: 3px;
}
input[type=file]{
    float:right;
    background: #ce8a00;
    border:1px solid #af0000;
    box-shadow: inset 0px 0px 8px 1px #af0000;
    border-radius: 3px;
}
@media only screen and (max-width: 380px) {
    input[type=file]{
        width:320px;
        font-size:18px;
    }
}
.errorlist {
}
</style>
{% endblock %}
{% block content %}
<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Utwórz" />
</form>
{% endblock %}
{% block javascript %}
{% endblock %}
