{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<link href="{% static "css/lightbox.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/galeria.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}{% if request.user.is_authenticated %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Wyślij" />
</form>
{% endif %}
{% endblock %}
