{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<style>
form {
    margin-top:50px;
}
label {
    display: none;
}
input{
    width: 100%;
}
textarea {
    width: 100%;
}
input[type=submit]{
    width: 100%;
    background: #ce8a00;
    border:1px solid #af0000;
    box-shadow: inset 0px 0px 8px 1px #af0000;
    border-radius: 3px;
}
</style>
{% endblock %}
{% block content %}
<form id="login_form" method="post" action="/login/">{% csrf_token %}
  <input type="text" name="username" value="" size="50" />
  <input type="password" name="password" value="" size="50" />
  <input type="submit" value="Zaloguj" />
</form>
{% endblock %}
{% block javascript %}
{% endblock %}
