div.wideokwadrat {
    background-color: rgba(65, 10, 0, 0.1); 
    box-shadow: inset 0px 0px 8px #210800;
    background-image: url('../images/play_160.png');
    background-position: center; 
    font-weight: bold;
    color: #ff9f30;
    text-align: center;
    text-shadow: 0px 0px 10px #ff6600;
    border-radius: 3px;
    float: left;
    cursor: pointer;
    padding-top:5px;
}
input[type=file]{
    background-color: #000000;
    font-size:20px;
    margin:5px;
    font-weight: bold;
    border: 2px solid #3b1e00;
    cursor: pointer;
    width:98%;
    border-radius: 3px;
}
input[type=url] {
    width: 100%;
}
.kolekcja {
    margin-left: auto;
    margin-right: auto;
    width: 99vw;
}
.czerwone:hover {
    -webkit-filter: saturate(7);
    filter: saturate(7);
    cursor:url('../images/czacha.cur'),auto;
}
.wideopodglad {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
}
img.zdjecie, .wideokwadrat {
    width: 29vw;
    height: 29vw;
    font-size: 16px;
    margin: 1px;
}
@media only screen and (max-width: 380px) {
    .wideopodglad {
        margin-left: -150px;
        margin-top: -100px;
    }
    form {
        margin-top:20px;
    }
}
@media only screen and (min-width: 380px) {
    img.zdjecie, .wideokwadrat {
        height: 22vw;
        width: 22vw;
        margin: 1px;
        font-size:20px;
    }
    .wideopodglad {
        margin-left: -150px;
        margin-top: -110px;
    }
}
@media only screen and (min-width: 600px) {
    img.zdjecie, .wideokwadrat {
        height: 18vw;
        width: 18vw;
        margin: 2px;
    }
    .wideopodglad {
        margin-left: -300px;
        margin-top: -225px;
    }
}
@media only screen and (min-width: 800px) {
    .kolekcja {
        width: 752px;
    }
    img.zdjecie, .wideokwadrat {
        width: 120px;
        height: 120px;
        margin: 1px;
    }
    .wideopodglad {
        margin-left: -400px;
        margin-top: -300px;
    }
}
@media only screen and (min-width: 1024px) {
    .kolekcja {
        width: 1000px;
    }
    img.zdjecie, .wideokwadrat {
        width: 159px;
        height: 159px;
        margin: 2px;
        font-size:30px;
    }
    .wideopodglad {
        margin-left: -400px;
        margin-top: -300px;
    }
    form {
        margin-left:-275px;
    }
}
