table.osoby, table.artisttable {
    float: left;
    width:100%;
    border-collapse: collapse;
}
table.osoby .tresc {font-size: 16px;}
table.artisttable td.label{font-size:16px;}
table.artisttable input{
    height:30px;
    width:100%;
    font-size:14px;
}
#content h3.imie {
    background-image: none;
    text-align: center;
    border: none;
    box-shadow: none;
    font-size: 28px;
}
.sklad, table.artisttable textarea, .about>.tresc {width: 100%;display:table;}
.avatar {width:80px;}
.slajdy {display: none;}
#content img {border-radius: 3px;}
@media only screen and (min-width: 380px) {
    table.osoby {
        width: calc(50vw - 10px);
        border-collapse: collapse;
        float:left;
    }
    table.osoby .tresc {height: 70px;}
    #content h3.imie {font-size:26px;}
    table.artisttable td.label, table.artisttable input {font-size:26px;}
    form.artistform {margin-top:-237px;}
    form.slajdyform {margin-top:-49px;}
}
@media only screen and (min-width: 600px) {
    #content h3.imie { font-size:22px;}
}
@media only screen and (min-width: 800px) {
    .about {display: table;}
    .about>.tresc{
        width: 494px;
        float: left;
        height: 150px;
    }   
    .about>.slajdy {
        display:block;
        float:left;
        padding-top: 100px;
    }
    table.osoby {width:265px;}
    #content h3.imie{font-size:28px;}
}
@media only screen and (min-width: 1024px) {
    table.osoby {width:332px;}
    table.artisttable td.label{font-size:26px;}
    table.osoby .tresc {
        font-size: 18px;
        height: 50px;
    }
    #content h3.imie{font-size:32px;}
    .about {display: table;}
    .about>.tresc{
        width: 592px;
        float: left;
        height: 200px;
    }   
    .about>.slajdy {
        width: 400px;
        height: 100%;
        padding-top: 50px;
    }
}
