@font-face {
    font-family: 'BerryRotunda';
    src: url('../fonts/berryrotunda.ttf');
}
@font-face {
    font-family: 'KingThingsPetrockLight';
    src: url('../fonts/kingthingspetrocklight.ttf');
}
@font-face {
    font-family: 'KingThingsPetrock';
    src: url('../fonts/kingthingspetrock.ttf');
}
body {
    background-color:#000000;
    font-family: KingThingsPetrockLight;
    color:#fefe9e;
    text-shadow: 1px 1px 1px #101000;
}
::selection {
    color: #201000;
    background-color: #ff8000;
}
::-moz-selection {
    color: #201000;
    background-color: #ff8000;
}
div {
    display:block;
}
a {
    text-decoration: none;
}
p {
    border-radius: 3px;
    margin:0px 2px 0px 2px;
}
textarea {
    resize: none;
}
div.tresc {
    background-color: rgba(65, 10, 0, 0.1); 
    border-radius: 3px;
    box-shadow: inset 0px 0px 8px #210800;
    margin:0px 2px 0px 2px;
}
div.tresc > p {
    padding: 2px 2px;
    text-indent: 20px;
    text-align: justify;
}
div#header {
    width: 100%;
    display: block;
    background-color: black;
}
nav.menu {
    list-style-type: none;
    margin:0 auto;
    font-family: KingThingsPetrock;
}
.menu > li:hover {
    background-color: #050300;
    box-shadow:inset 0px 0px 8px 4px #000000;
}
nav.menu  a {
    display: block;
    padding:8px 0px 0px 0px;
    color: #ce8a00;
    text-shadow: 1px 1px 8px #af0000;
    text-align: center;
}
.menu > li > a:hover {
    color: #ffaf0e;
    text-shadow: 1px 1px 8px #ffa000;
}
#content {
    display:table;
    border: 1px #140801;
    box-shadow: 0px 4px 8px #140800;
    border-style: none dotted none dotted;
    background-image: url('../images/tekstura_160.png');
}
#content img{
    border-radius: 3px;
}
div.close {
    float:right;
    width:28px;
    height:28px;
    cursor: pointer;
    background-image: url('../images/close.png');
    margin: 1px;
}
#content h1, #content h2, #content h3, .label{
    color: #ce8a00;
    border: 2px #181811;
    border-radius:3px;
    padding: 2px 2px 2px 16px;
    font-family: KingThingsPetrock;
    text-shadow: 1px 1px 8px #af0000;
}
#content h1{
/*    color: rgba(76, 8, 0, 0.5); */
    background-image: url('../images/tekstura_popiologien_h1.png');
    border: 1px #583811;
    border-style: none dotted dotted dotted;
    box-shadow: 0px 4px 8px #140800;
}
#content h2{
    color: #ce8a00;
    background-image: url('../images/tekstura_popiologien_h2.png');
    border: 1px #583811;
    border-style: none dotted none dotted;
    box-shadow: 0px 4px 8px #140800;
}
#content h3{
    color: #ce8a00;
    background-image: url('../images/tekstura_popiologien_h3.png');
    border: 1px #583811;
    border-style: none dotted none dotted;
    margin-bottom:4px;
    box-shadow: 0px 4px 8px #140800;
}
span.przyciski {
    font-size:16px;
    margin: 5px 5px;
    float:right;
    list-style-type:none;
}
.przycisk {
    cursor:pointer;
}
.edytuj {
    color:#dbbb00;
    text-shadow: 1px 1px 12px #fff000;
}
.usun, .alert{
    color: #a00000;
    text-shadow: 1px 1px 12px #ff0000;
}
.dodaj {
    color:#31ae00;
    text-shadow: 1px 1px 12px #0ff000;
}
hr {
    background-image: url('../images/mikro_lancuch.png');
    height:6px;
    border-width:0;
    box-shadow: 0px 0px 12px #212120;
}
input {
    font-family: KingThingsPetrock;
    font-size:24px;
}
input[type=text]{
    width: 100%;
    background-color:#fff2a0;
    color: #060300;
}
textarea {
    width: 100%;
    font-family: KingThingsPetrock;
    font-size:18px;
    background-color:#fff2a0;
    color: #060300;
}
textarea:focus{
    background-color:#ffffb0;
}
input[type=submit] {
    width: 100%;
    background: #ce8a00;
    border:1px solid #af0000;
    box-shadow: inset 0px 0px 8px 1px #af0000;
    border-radius: 3px;
    cursor: pointer;
    color:#000;
}
input[type=submit].usun {
    background: #7e1a00;
    border:1px solid #3f0000;
    box-shadow: inset 0px 0px 8px 1px #1f0000;
    color:#fefe9e;
}
div.lightscreen {
    display:none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
div.tlo {
    background: url("../images/transparent.png");
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.hidden {
    display: none;
}
footer {
    position: relative;
    overflow:auto;
    float:bottom;
    color: #ce8a00;
    background-image: url('../images/tekstura_popiologien_h2.png');
    border: 1px #583811;
    border-style: none dotted none none;
    border: 2px dotted #181811;
    border-radius:3px;
    padding: 2px 2px 2px 16px;
    font-family: KingThingsPetrock;
    text-shadow: 1px 1px 8px #af0000;
    bottom: 0px;
    width: 100%;
    height: 30px;
}
span.loginfooter {
    float: right;
    font-size:13px;
}
span.loginfooter a {
    color:#a02000;
}
form {
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius:3px;
    border: 1px solid #602000;
    box-shadow: 0px 0px 50px 1px #602800;
}
.komunikat {
    margin-left:10px;
    margin-top:7px;
    font-size:20px;
}
