* {box-sizing: border-box;}
body {
    padding: 0px 0px;
    margin: 0px 0px;
}
nav.menu {
    font-size: 32px;
}
nav a#pull {
    display: none;
}
#header, #content, .baner, nav.menu, .wyskakujacy {
    width: 100%;
}
#content {
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 90px);
}
.wyskakujacy {
    z-index: 1;
    position: fixed;
    top: 40px;
    display: none;
}
#header {
    height: calc(100vw / 5.5);
    display: table;
}
nav.menu li a{
    width: 100%;
}
@media only screen and (max-width: 600px) {
    nav ul {
        display: none;
        height: 190px;
        padding: 0;
    }
    nav li {
        display: block;
        float: none;
        width:100%;
    }
    nav a#pull {
        display: block;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content:"";
        background: url('../images/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 5px;
        top: -10px;
    }
}
@media only screen and (min-width: 380px) {
    nav.menu {
        font-size: 28px;
        margin: 0px auto;
    }
    nav.menu li a{
        width: 90%;
    }
    .wyskakujacy {
        top: 50%;
    }
}
@media only screen and (min-width: 600px) {
    nav.menu {
        font-size: 19px;
        margin: 0px auto;
    }
    ul.menu > li {
        float: left;
        list-style-type: none;
    }
    nav.menu li a{
        width: 17vw;
    }
    li.przyciskaktualnosci {
        margin-left:27px;
    }
    li.przyciskoferta {
        margin-left:8px;
    }
    .wyskakujacy {
        margin-left: -250px;
        width:500px;
        top: 50%;
        left: 50%;
    }
}
@media only screen and (min-width: 800px) {
    #header {
        width: 800px;
        height: 128px;
    }
    nav.menu {
        width: 800px;
        height: 40px;
        font-size: 25px;
        margin: 0px auto;
    }
    nav.menu li a{
        width: 140px;
    }
    li.przyciskaktualnosci {
        margin-left:40px;
    }
    li.przyciskoferta {
        margin-left:10px;
    }
    #content {
        width: 800px;
        min-height: calc(100vh - 202px);
    }
    .baner {
        width: 800px;
        position: absolute;
        left: 50%;
        margin-left: -400px;
    }
    .wyskakujacy {
        margin-left: -300px;
        width:600px;
    }
}
@media only screen and (min-width: 1024px) {
    #header {
        width: 1000px;
        height: 150px;
    }
    nav.menu {
        width: 1000px;
        font-size: 32px;
        margin: 0px auto;
        height: 60px;
    }
    nav.menu li a{
        width: 175px;
    }
    li.przyciskaktualnosci {
        margin-left:55px;
    }
    li.przyciskoferta {
        margin-left:20px;
    }
    #content {
        width: 1000px;
        min-height: calc(100vh - 255px);
    }
    .baner {
        position: absolute;
        left: 50%;
        width: 1000px;
        margin-left: -500px;
    }
    .wyskakujacy {
        margin-left: -300px;
        width:600px;
    }
}
