{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<link href="{% static "css/galeria.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="galeriazdjec">
  <h1>Wideo <span class="przyciski usun">Kliknij film aby usunąć</span></h1>
  <div class="kolekcja">{% for zdjecie in zdjecia %}<a href="{% url "usunzdjecie" zdjecie.id %}"><img width="130px" class="zdjecie czerwone" src="/media/{{ zdjecie.miniatura }}"></a>
    {% endfor %}</div>
{% load embed_video_tags %}
  {% for film in filmy %}
    {% video film.video as my_video %}
    <a href="{% url "usunfilm" film.id %}"><div class="wideokwadrat czerwone" data-url="{{ my_video.url}}">{% if film.nazwa != "brak" %}{{ film.nazwa }}{% endif %}</div></a>
    {% endvideo %}
  {% endfor %}
</div>
{% endblock %}
