{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<link href="{% static "css/galeria.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="galeriazdjec">
  <h1>Slajdy <span class="przyciski usun">Kliknij slajd aby usunąć</span></h1>
  <div class="kolekcja">{% for slajd in slajdy %}<a href="{% url "usunslajd" slajd.id %}"><img width="130px" class="zdjecie czerwone" src="{{ slajd.foto.url }}"></a>
      {% endfor %}</div>
</div>
{% endblock %}
