{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<link href="{% static "css/galeria.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="galeriazdjec">
  <h1>Zdjęcia <span class="przyciski usun">Kliknij zdjęcie aby usunąć</span></h1>
  <div class="kolekcja">{% for zdjecie in zdjecia %}<a href="{% url "usunzdjecie" zdjecie.id %}"><img width="130px" class="zdjecie czerwone" src="{{ zdjecie.miniatura.url }}"></a>
      {% endfor %}</div>
</div>
{% endblock %}
