{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<link href="{% static "css/lightbox.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/galeria.css" %}" rel="stylesheet" type="text/css">
<style>
ul.news {
    list-style-type:none;
    padding:0px;
}
div.multimedia {
    display: table;
    width: 100%;
    padding-left:7px;
}
.multimediaprzycisk {
    color: #ce8a00;
    font-family: KingThingsPetrock;
    text-shadow: 0px 0px 8px #af0000;
    display: none;
}
.multimediausun {
    display: none;
}
.multimediaprzycisk:hover {
    color: #feca00;
    text-shadow: 0px 0px 18px #ff9000;
}
p.czas {
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    background: none;
    border: none;
    box-shadow: none;
}
.czytajdalej {
    text-align: right;
    color:#31ae00;
    text-shadow: 1px 1px 12px #0ff000;
    cursor: pointer;
    display: block;
}
div.strony {
    left:0px;
    right:0px;
    bottom:30px;
    position: static;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    margin: 2px;
}
span.sterowanie > *{
    margin: 2px;
}
div.strony a {
    color: #ce8a00;
    text-shadow: 1px 1px 8px #af0000;
}
div.strony span.brakstrony {
    color: #2e2a10;
    text-shadow: 1px 1px 8px #0f0000;
}
@media only screen and (min-width: 380px) {
    form.newsform {
        margin-top:-172px;
    }
    form.zdjecieform, form.dodajwideo {
        margin-top:-54px;
    }
}
@media only screen and (max-width: 380px) {
    h3 {
        font-size: 16px;
    }
}
@media only screen and (min-width: 600px) {
    ul.news {
        min-height: calc(100vh - 276px);
    }
}
@media only screen and (min-width: 800px) {
    ul.news {
        min-height: calc(100vh - 310px);
    }
}
@media only screen and (min-width: 1024px) {
    ul.news {
        min-height: calc(100vh - 360px);
    }
}
</style>
{% endblock %}
{% block content %}
<h1>&nbsp;{% if request.user.is_authenticated %}<span class="przyciski"><a class="przycisk dodaj dodajnewsa">Dodaj</a></span>{% endif %}</h1>
<ul class="news">{% for post in aktualnosci %}
  <li>
    <h3 data-slug="{{ post.slug }}">{{ post.tytul }}</h3>
    <div class="tresc">{{ post.tresc|linebreaks|truncatechars:400 }}
      {% if post.tresc|length > 400 %}<div class="czytajdalej" data-href="{{ post.slug }}">czytaj dalej</div>{% endif %}
    </div>
    <div class="multimedia">
      <span class="przyciski" data-album="{{ post.slug }}">
        <span class="przycisk pokazzdjecia multimediaprzycisk" id="zdjecia-{{ post.slug }}">Zdjęcia</span>
        {% if request.user.is_authenticated %} <a class="przycisk dodaj dodajzdjecia">Dodaj</a> <a class="przycisk usun multimediausun" id="usunzdjecia-{{ post.slug }}" href="{% url "usunzdjecia" post.slug %}">Usuń</a><br />{% endif %}
        <span class="przycisk pokazwideo multimediaprzycisk" id="wideo-{{ post.slug }}">Wideo</span> 
         {% if request.user.is_authenticated %} <a class="przycisk dodaj dodajfilmy">Dodaj</a> <a class="przycisk usun multimediausun" id="usunfilmy-{{ post.slug }}" href="{% url "usunfilmy" post.slug %}">Usuń</a>{% endif %}
      </span> 
    </div>
    <div class="multimedia galeriamultimedialna" style="display:table;margin-left:auto;margin-right:auto"></div>
    <hr /><p class="czas"><span style="color:#a02000">Dodano:&nbsp;&nbsp;</span>{{ post.dodano }}</p>
  </li>
  {% endfor %}
</ul>
<div class="strony">
  <span class="sterowanie">
    {% if aktualnosci.has_previous %}<a href="?strona={{ aktualnosci.previous_page_number }}">Nowsze</a>{% else %}<span class="brakstrony">Nowsze</span>{% endif %}
    {% for strona in strony %}{% ifequal aktualnosci.number strona %}<span class="biezaca">[ {{ strona }} ]</span>{% else %}<a href="?strona={{ strona }}">[ {{ strona }} ]</a>{% endifequal %}{% endfor %}
    {% if aktualnosci.has_next %}<a href="?strona={{ aktualnosci.next_page_number }}">Starsze</a>{% else %}<span class="brakstrony">Starsze</span>{% endif %}
  </span>
</div>

<div class="lightscreen">
  <div class="tlo">
  </div>
  <form class="newsform wyskakujacy" method="POST" action="{% url "addnews" %}" style="display:none">{% csrf_token %}
    <span class="komunikat"></span><div class="close"></div>
    <input id="tytul" maxlength="128" name="tytul" type="text" />
    <textarea cols="40" id="tresc" name="tresc" rows="10"></textarea>
    <input type="submit" value="Gotowe" />
    <input type="submit" formaction="/usun/" class="usun" value="Usuń" />
  </form>
  <form class="zdjecieform wyskakujacy" method="POST" action=" " enctype="multipart/form-data" style="display:none">{% csrf_token %}<div class="close"></div>
    <input type="hidden" name="redirect" value="aktualnosci" />
    <input name="zdjecia" type="file" multiple />
    <input type="submit" value="Gotowe" />
  </form>
  <form method="POST" class="dodajwideo wyskakujacy" action=" " enctype="multipart/form-data" style="display:none">
    {% csrf_token %}<div class="close"></div>
    <input type="hidden" name="redirect" value="aktualnosci" />
    <input type="hidden" name="nazwa" value="brak" />
    <h3 style="margin:0px 0px">Adres URL filmu</h3>
    <input id="video" name="video" type="url" />
    <input type="submit" value="Wyślij" />
  </form>
  <div class="wideopodglad" style="position:fixed;display:none"></div>
</div>

{% endblock %}
{% block javascript %}<script src="{% static "js/lightbox.js" %}"></script>
<script>
$(document).ready(function(){
{% if request.user.is_authenticated %}
  $('h3').css('cursor', 'pointer');
  $(".dodajnewsa").click(function(){
    $("form.newsform,.lightscreen").show();
    $('form.newsform').trigger("reset");
    $('form.newsform').attr('action', '{% url "addnews" %}');
    $('form.newsform input.usun').hide();
  });
$( "form.newsform" ).submit(function( event ) {
  if ( $( "input#tytul" ).val().length > 0 && $( "textarea#tresc" ).val().length > 0 ) {
    $( "span.komunikat" ).text( "Proszę czekać..." ).css('color', '#00ee00').show();
    return;
 }
  $( "span.komunikat" ).text( "Uzupełnij puste pola!" ).css('color', '#ff0000').show().fadeOut( 3000 );
  event.preventDefault();
});
  $("h3").click(function(){
    var tytul = $(this).text();
    var tresc = "";
    var href = $(this).attr('data-href');
    $(this).parent().find('div.tresc p').load("/aktualnosci/tresc/"+href+"/");
    for (i = 0; i < $(this).parent().find('div.tresc p').length; i++) {
         tresc += $($(this).parent().find('div.tresc p')[i]).text() + "\n\n";
    }
    var slug = $(this).attr('data-slug');
    $("form.newsform,.lightscreen").show();
    $('form.newsform #tytul').val(tytul);
    $('form.newsform textarea').val(tresc);
    $('form.newsform').attr('action', '/aktualnosci/edytuj/'+slug+'/');
    $('form.newsform input.usun').show().attr('formaction', '/aktualnosci/usun/'+slug+'/');
  });
  $(".multimediaprzycisk").show();
  $(".dodajzdjecia").click(function(){
    var url = $(this).parent().attr('data-album');
    $("form.zdjecieform,.lightscreen").show();
    $('form.zdjecieform').attr('action', '/dodaj/zdjecia/'+url+'/');
  });
  $(".dodajfilmy").click(function(){
    var url = $(this).parent().attr('data-album');
    $(".lightscreen,form.dodajwideo").show();
    $('form.dodajwideo').attr('action', "/dodaj/wideo/"+url+"/");
  });
{% if lista_zdjec %}$("{% for zdjecie in lista_zdjec %}#usunzdjecia-{{ zdjecie }}{% if not forloop.last %}, {% endif %}{% endfor %}").show();{% endif %}
{% if lista_filmow %}$("{% for film in lista_filmow %}#usunfilmy-{{ film }}{% if not forloop.last %}, {% endif %}{% endfor %}").show();{% endif %}
{% endif %}
  $(".czytajdalej").click(function(){
    var href = $(this).attr('data-href');
    $(this).parent().load("/aktualnosci/tresc/"+href+"/");
  });
{% if lista_zdjec %}$("{% for zdjecie in lista_zdjec %}#zdjecia-{{ zdjecie }}{% if not forloop.last %}, {% endif %}{% endfor %}").show();{% endif %}
{% if lista_filmow %}$("{% for film in lista_filmow %}#wideo-{{ film }}{% if not forloop.last %}, {% endif %}{% endfor %}").show();{% endif %}
  $(".pokazzdjecia").click(function(){
    var href = $(this).parent().attr('data-album');
    $(this).parents('li').find('div.galeriamultimedialna').load("/galeria/"+href+"/");
  });
  $(".pokazwideo").click(function(){
    var href = $(this).parent().attr('data-album');
    $(this).parents('li').find('div.galeriamultimedialna').load("/wideo/"+href+"/");
  });
  $(".tlo, div.close").click(function(){
    $("form,.lightscreen").hide();
    $("iframe").remove();
  });
});
</script>
{% endblock %}
