<html>
<head>
  {% load staticfiles %}
  <title>Teatr Ognia AgniStorm</title>
  <link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/rwd.css" %}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="{% static "js/jquery.js" %}" ></script>
  <script type="text/javascript" src="{% static "js/menu.js" %}" ></script>
  {% block style %}
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="header"><img src="{% static "images/baner_main.png" %}" align="center" class="baner"></div>
  <nav class="menu">
    <a href="#" id="pull"></a>
    <ul class="menu">
      <li class="przyciskglowna"><a href="{% url "home" %}">Strona Główna</a></li>
      <li class="przyciskaktualnosci"><a href="{% url "aktualnosci" %}">Aktualności</a></li>
      <li class="przyciskoferta"><a href="{% url "oferta" %}">Oferta</a></li>
      <li class="przyciskgaleria"><a href="{% url "galeria" %}">Galeria</a></li>
      <li class="przyciskkontakt"><a href="{% url "kontakt" %}">Kontakt</a></li>
    </ul>
  </nav>
  <div id="content">{% block content %}{% endblock %}</div>
  <footer>
    <span class="loginfooter">
      {% if request.user.is_authenticated %}Zalogowany Użytkownik:&nbsp;&nbsp; <span style="color:#fefe9e">{{ request.user.username }}</span> <a href="{% url "wyloguj" %}">Wyloguj</a>
      {% else %}<a href="{% url "login" %}">Logowanie</a>{% endif %}</span>
  </footer>
{% block javascript %}
{% endblock %}
</body>
</html>
