{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<link href="{% static "css/lightbox.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/galeria.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="galeriazdjec galeria">
  <h1>Zdjęcia{% if request.user.is_authenticated %}
        <span class="przyciski" style="font-size:20px;top:-20px;">
          <a class="przycisk dodaj dodajfotki">Dodaj</a>
          <a class="przycisk usun" href="{% url "usunzdjecia" "galeria" %}">Usuń</a>
        </span>{% endif %}</h1>
        <div class="kolekcja">{% for zdjecie in zdjecia %}<a href="{{ zdjecie.foto.url }}" data-lightbox="galeria"><img width="130px" class="zdjecie" src="{{ zdjecie.miniatura.url }}"></a>
          {% endfor %}</div>
</div>
<h1>Wideo{% if request.user.is_authenticated %}
  <span class="przyciski" style="font-size:20px;top:-20px;">
    <a class="przycisk dodaj dodajfilmy">Dodaj</a>
    <a class="przycisk usun" href="{% url "usunfilmy" "galeria" %}">Usuń</a>
  </span>{% endif %}</h1>
<div class="galeriawideo galeria">
  <div class="kolekcja">{% load embed_video_tags %}
  {% for film in filmy %}
    {% video film.video as my_video %}
    <div class="wideokwadrat" data-url="{{ my_video.url}}">{{ film.nazwa }}</div>
    {% endvideo %}
    {% endfor %}</div>
</div>
<div class="lightscreen">
  <div class="tlo">
  </div>
  <form action="{% url "dodajzdjecia" "galeria" %}" method="post" class="dodajzdjecia wyskakujacy" enctype="multipart/form-data" style="display:none">
    {% csrf_token %}
    <input type="hidden" name="redirect" value="galeria" />
    <input id="zdjecia" multiple="multiple" name="zdjecia" type="file" />
    <input type="submit" value="Wyślij" />
  </form>
  <form method="POST" class="dodajwideo wyskakujacy" action="{% url "dodajwideo" "galeria" %}" enctype="multipart/form-data" style="display:none">
    {% csrf_token %}
    <input type="hidden" name="redirect" value="galeria" />
    <h3 style="margin:0px 0px">Nazwa filmu</h3>
    <input id="nazwa" name="nazwa" type="text" />
    <h3 style="margin:0px 0px">Adres URL filmu</h3>
    <input id="video" name="video" type="url" />
    <input type="submit" value="Wyślij" />
  </form>
  <div class="wideopodglad" style="position:fixed;display:none"></div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static "js/lightbox.js" %}"></script>
<script>
$(document).ready(function(){
  $(".dodajfotki").click(function(){
    $(".lightscreen,form.dodajzdjecia").show();
  });
  $(".dodajfilmy").click(function(){
    $(".lightscreen,form.dodajwideo").show();
  });
  $(".tlo, div.close").click(function(){
    $(".lightscreen,form,.wideopodglad").hide();
    $("iframe").remove();
  });
  $("div.wideokwadrat").click(function(){
    var url = $(this).attr('data-url');
    if ($(window).width() <= 600) {
      var width = 300;
      var height = 225;
    } else if ($(window).width() <= 800) {
      var width = 600;
      var height = 450;
    } else {
      var width = 800;
      var height = 600;
    }
  $("div.wideopodglad").html('<iframe src='+url+' width='+width+' height='+height+' border="0"></iframe>');
  $(".lightscreen,div.wideopodglad").show();
  });
});
</script>
{% endblock %}
