{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<link href="{% static "css/glowna.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="glowna">
  <div class="about">
    <h1>O Nas:{% if request.user.is_authenticated %}<span class="przyciski">
      <a class="przycisk edytuj edytujpole">Edytuj</a>
      <a class="przycisk dodaj dodajslajdy">Dodaj</a>
      <a class="przycisk usun usunslajdy" href="{% url "usunslajdy" %}">Usuń</a></span>{% endif %}</h1>
    <div class="tresc">{{ onas.zawartosc|linebreaks }}</div>
    <div class="slajdy"></div>
  </div>
    <hr />
  <div class="sklad">
    <h2>Skład:{% if request.user.is_authenticated %}
      <span class="przyciski"><a class="przycisk dodaj addartist">Dodaj</a></span>
    {% endif %}</h2>
    {% for osoba in osoby %}
    <table class="osoby">
      <tr>
        <td class="avatar"><img class="avatar" src="/media/{{ osoba.avatar }}" width="120px"></td>
        <td><h3 class="imie" data-osobaid="{{ osoba.id }}" data-imie="{{ osoba.imie }}">{{ osoba.imie }}</h3>
        </td>
      </tr>
      <tr><td colspan="2"><div class="tresc">{{ osoba.opis|linebreaks }}</p></td></tr>
    </table>
    {% endfor %}
  </div>
</div>
<div class="lightscreen">
  <div class="tlo">
  </div>
  <form class="artistform wyskakujacy" method="POST" action="{% url "addartists" %}" enctype="multipart/form-data">{% csrf_token %}
    <span class="komunikat"></span><div class="close"></div>
    <table class="artisttable">
      <tr><td class="label">Awatar:</td><td><input id="avatar" name="avatar" type="file" /></td></tr>
      <tr><td class="label">Imie:</td><td><input id="imie" maxlength="32" name="imie" type="text" /></td></tr>
      <tr><td class="label" colspan="2">Opis:</td></tr>
      <tr><td colspan="2"><textarea cols="40" id="opis" name="opis" rows="10"></textarea></tr>
    </table>
    <input type="submit" value="Gotowe" />
    <input type="submit" formaction="/usun/" class="usun" value="Usuń" />
  </form>
  <form action="{% url "dodajslajdy" %}" method="post" class="slajdyform wyskakujacy" enctype="multipart/form-data" style="display:none">
    <div style="display:table;width:100%"><span class="komunikat"></span><div class="close"></div><br /></div>
    {% csrf_token %}
    <input multiple="multiple" name="slajdy" type="file" />
    <input type="submit" value="Wyślij" />
  </form>
  <div style="display:none">
    <form id="intro" method="POST" action="{% url "edytujpole" onas.id %}">{% csrf_token %}
      <input type="hidden" name="redirect" value="index" />
      <textarea cols="40" name="zawartosc" rows="8">{{ onas.zawartosc }}</textarea>
    <input type="submit" value="Wyślij" />
  </form>
  </div>
</div>
{% endblock %}
{% block javascript %}<script>
$(document).ready(function(){
  if ($(window).width() >= 1024) {
    $('div.slajdy').load("/slajdy/400/");
  } else if ($(window).width() >= 800) {
    $('div.slajdy').load("/slajdy/300/");
  }
  $(window).resize(function(){
    if ($(window).width() >= 1024) {
      $('div.slajdy').load("/slajdy/400/");
    } else if ($(window).width() >= 800) {
      $('div.slajdy').load("/slajdy/300/");
    }
  });
  var rozmiar = 300;
  {% if request.user.is_authenticated %}
  $('h3.tytul, table.osoby h3').css('cursor', 'pointer');
  $('.edytujpole').click(function(){
    $('div.about .tresc').load("/ #intro");
  });
  $(".addartist").click(function(){
    $("form.artistform, .lightscreen").show();
    $('form.artistform').trigger("reset");
    $('form.artistform input.usun').hide();
  });
  $(".dodajslajdy").click(function(){
    $("form.slajdyform, .lightscreen").show();
  });
  $("table.osoby h3").click(function(){
    var imie = $(this).attr('data-imie');
    var id = $(this).attr('data-osobaid');
    var opis = "";
    for (i = 0; i < $(this).parents('table').find('div.tresc').find('p').length; i++) {
        opis += $($(this).parents('table').find('div.tresc').find('p')[i]).text() + "\n\n";
    };

    var avatar = $(this).parents('div.sklad').find('img.avatar').val('src');
    $('form.artistform').attr('action', '/osoby/edytuj/'+id+'/');
    $('form.artistform #imie').val(imie);
    $('form.artistform #opis').val(opis);
    $("form.artistform,.lightscreen").show();
    $('form.artistform input.usun').show().attr('formaction', '/osoby/usun/'+id+'/');
  });
  $(".tlo, div.close").click(function(){
    $(".lightscreen,.artistform, .slajdyform").hide();
  });
});
$( "form.artistform" ).submit(function( event ) {
  if ( $( "input#imie" ).val().length > 0 && $( "textarea#opis" ).val().length > 0 ) {
    $( "span.komunikat" ).text( "Proszę czekać..." ).css('color', '#00ee00').show();
    return;
  }
  $( "span.komunikat" ).text( "Uzupełnij puste pola!" ).css('color', '#ff0000').show().fadeOut( 3000 );
  event.preventDefault();
});
$( "form.slajdyform" ).submit(function( event ) {
  var path = $('.slajdyform input[type=file]').val();
  if (path.slice(-4).toLowerCase() == ".jpg" || path.slice(-4).toLowerCase() == ".png" || path.slice(-4).toLowerCase() == ".jpg"){
    $( "span.komunikat" ).text( "Proszę czekać..." ).css('color', '#00ee00').show();
    return;
  }
  $( "span.komunikat" ).text( "Popraw Formularz!" ).css('color', '#ff0000').show().fadeOut( 3000 );
  event.preventDefault();
  {% endif %}
});
</script>{% endblock %}
