{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<style>
.pion {
        width: 100%;
        display: table;
}
table {
    padding: 5px 5px;
    font-size: 20px;
    width:100%;
    font-weight:bold;
}
table td:nth-child(even) {
    text-align: right;
}
form {
    border: none;
    box-shadow: none;
}
.nadawca {
    color: #ce8a00;
    font-family: KingThingsPetrock;
    font-size:20px;
    margin-left: 20px;
}
p.czas {
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    background: none;
    border: none;
    box-shadow: none;
}
.czytajdalej {
    text-align: right;
    color:#31ae00;
    text-shadow: 1px 1px 12px #0ff000;
    cursor: pointer;
    display: block;
}
.czerwone:hover {
    -webkit-filter: saturate(7);
    filter: saturate(7);
    cursor:url('{% static "images/czacha.cur" %}'),auto;
}
div.tresc {padding: 2px 2px;}
img.partner {height: 100px;margin: 3px;}
@media only screen and (min-width: 800px) {
    .pion {
        width: 49.6%;
        float: left;
        margin: 2px;
        display: table;
        }
}
@media only screen and (min-width: 1024px) {
    .pion {
        width: 49.6%;
        margin: 2px;
    }
}
</style>
{% endblock %}
{% block content %}
<div id="fb-root"></div>
<h1>&nbsp;</h1>
<div style="display:table" class="pion">{% if request.user.is_authenticated %}
  <div style="height:20px"><span class="komunikat" style="color:#00ee00;font-weight:bold">{% for message in messages %}{{ message }}{% endfor %}</span></div>
  <ul style="list-style-type:none;padding:0px">
  {% for wiadomosc in wiadomosci %}
    <li>
      <span class="nadawca"><span style="color:#a02000;margin-right:10px;">Nadawca:</span>{{ wiadomosc.autor }}: <span style="color:#8aaaf0;font-size:16px">&nbsp;&nbsp;&nbsp;{{ wiadomosc.namiar }}</span></span>
      <span class="przyciski"><a class="przycisk usun" href="{% url "usunwiadomosc" wiadomosc.id %}">Usuń</a></span>
      <div class="tresc">{{ wiadomosc.tresc|truncatechars:140 }}{% if wiadomosc.tresc|length > 140 %}<div class="czytajdalej">czytaj dalej</div></div>
      <div class="pelnatresc" style="display:none">{{ wiadomosc.tresc }}{% endif %}</div>
      <p class="czas"><span style="color:#a02000">Wysłano:&nbsp;&nbsp;</span>{{ wiadomosc.wyslano }}</p><hr>
    </li>
  {% endfor %}
  </ul>{% else %}
  <h2>Formularz kontaktowy</h2>
  <div style="height:20px"><span class="komunikat" style="color:#00ee00;font-weight:bold">{% for message in messages %}{{ message }}{% endfor %}</span></div>
  <form method="POST" action=" ">{% csrf_token %}
    <h3>Imię i Nazwisko lub Ksywa</h3>
    <input id="autor" name="autor" type="text" />
    <h3>Telefon lub email</h3>
    <input id="namiar" name="namiar" type="text" />
    <h3>Wiadomość</h3>
    <textarea cols="40" name="tresc" rows="10"></textarea>
    <input type="submit" value="Wyślij" />
  </form>{% endif %}
</div>
<div style="display:table" class="pion">
  <h2>Zadzwoń lub napisz do Nas</h2>
  <table>
    <tr><td>Numer Telefonu</td><td>+48 697 475 152</td></tr>
    <tr><td>Poczta Elektroniczna</td><td>a.karpowicz26@gmail.com</td></tr>
    <tr><td></td><td></td></tr>
  </table>
  <div style="bottom:-10px" class="fb-page" data-href="https://www.facebook.com/Teatr-Ognia-AgniStorm-135143649898137" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
  <div id="partnerzy">
    <h2>Współpracujemy z:{% if request.user.is_authenticated %}<span class="przyciski">
        <span class="przycisk dodaj dodajpartnera">Dodaj</span>
        <span class="przycisk usun usunpartnera">Usuń</span>
      </span>{% endif %}</h2>{% for partner in partnerzy %}
    <a href="{{ partner.strona }}" target="_blank" data-id="{{ partner.id }}" class="partnerlink"><img class="partner" src="{{ partner.foto.url }}"></a>{% endfor %}
  </div>
</div>{% if request.user.is_authenticated %}
<div class="lightscreen">
  <div class="tlo">
  </div>
  <form class="partnerzyform wyskakujacy" method="POST" action="{% url "dodajpartnera" %}" enctype="multipart/form-data">{% csrf_token %}
    <span class="komunikat"></span><div class="close"></div>
    <h3 style="margin:0px 0px;padding:5px">Logo</h3>
    <input id="foto" name="foto" type="file" />
    <h3 style="margin:0px 0px">Strona WWW</h3>
    <input id="strona" maxlength="120" name="strona" type="text" />
    <input type="submit" value="Gotowe" />
  </form>
</div>{% endif %}
{% endblock %}
{% block javascript %}
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script>
$(document).ready(function(){
  $('.komunikat').fadeOut( 15000 );{% if request.user.is_authenticated %}
  $(".czytajdalej").click(function(){
    var tresc = $(this).parent().parent().find('.pelnatresc').text();
    $(this).parent().parent().find('.tresc').text(tresc);
  });
  $('.usunpartnera').click(function(){
    var partnerzy = $('.partnerlink');
    $(partnerzy).addClass('czerwone');
    $('#partnerzy .przyciski').html("<span class='usun'>Kliknij aby usunąć</span> <a href='{% url "kontakt" %}' class='przycisk edytuj'>Anuluj</a>");
    for (var i=0;i<partnerzy.length;i++) {
      $(partnerzy[i]).attr('href', '/partnerzy/usun/'+$(partnerzy[i]).attr('data-id')+'/');
      $(partnerzy[i]).attr('target', '_self');
    }
  });
  $(".dodajpartnera").click(function(){
    $('.lightscreen, .wyskakujacy').show();
  });
  $(".tlo, div.close").click(function(){
    $("form.wyskakujacy, .lightscreen").hide();
  }); {% endif %}
});
$( "form" ).submit(function( event ) {
  if ( $( "input#autor" ).val().length > 0 && $( "input#namiar" ).val().length > 0 && $( "textarea" ).val().length > 0 ) {
    $( "span.komunikat" ).text( "Wysyłanie..." ).css('color', '#00ee00').show();
    return;
  }
  $( "span.komunikat" ).text( "Uzupełnij puste pola!" ).css('color', '#ff0000').show().fadeOut( 3000 );
  event.preventDefault();
});
</script>
{% endblock %}
