<div style="margin-left:auto;margin-right:auto;display:table;max-width:100vw">
{% load embed_video_tags %}
  {% for film in filmy %}
    {% video film.video as my_video %}
    <div class="wideokwadrat" data-url="{{ my_video.url}}"></div>
    {% endvideo %}
  {% endfor %}
</div>
<script>
$(document).ready(function() {
  $("div.wideokwadrat").click(function(){
    var url = $(this).attr('data-url');
    if ($(window).width() <= 600) {
      var width = 300;
      var height = 225;
    } else if ($(window).width() <= 800) {
      var width = 600;
      var height = 450;
    } else {
      var width = 800;
      var height = 600;
    }
  $("div.wideopodglad").html('<iframe src='+url+' width='+width+' height='+height+' border="0"></iframe>');
  $(".lightscreen,div.wideopodglad").show();
  });
});
</script>
