<div style="margin-left:auto;margin-right:auto;display:table">{% for zdjecie in zdjecia %}<a style="float:left" href="{{ zdjecie.foto.url }}" data-lightbox="{{ kategoria }}">
    <img width="130px" class="zdjecie" src="{{ zdjecie.miniatura.url }}"></a>
  {% endfor %}</div>
