{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<link href="{% static "css/lightbox.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/galeria.css" %}" rel="stylesheet" type="text/css">
<style>
.pion-standard > * {width: 100%;}
div.tresc {
    padding:10px 10px;
    margin-top: -17px;
}
div.intro {
    margin: 0px 0px;
}
form#intro {
    margin-left: 0px;
}
.lightscreen > form#intro {
    display: none;
}
div.wideokwadrat {
    height: 100px;
    width: 100px;
    font-size:30px;
}
ul.tabs {
    list-style-type: none;
    display: block;
    padding: 0px;
}
ul.tabs > li {
    display: list-item;
    flex: 1;
}
ul.tabs > li > a{
    color: #ce8a00;
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight:bold;
}
div.zdjecia ,div.wideo{
    display: table;
    margin-left:auto;
    margin-right:auto;
    padding-left:13px;
}
div.zdjecia >*, div.wideo >*{
    margin: 4px;
    float: left;
}
a .zakladka {
    border: 1px;
    border-color: #2f0f00;
    border-style: none none solid none;
    padding:3px 3px;
}
a.active .zakladka{
    border-style: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(65, 10, 0, 0.18);
    box-shadow: 0px -8px 28px 1px #150800;
}
.kwadratowyprzycisk {
    width: 100px;
    height: 100px;
    float: left;
    cursor: pointer;
    box-shadow: inset 0px 0px 28px 1px #150800;
    border:1px solid #2f0f00;
    border-radius: 5px;
}
.edytujusun {
    width:100%;
    display: table;
    background-color: rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 380px) {
    ul.tabs > li > a{font-size: 16px;}
}
@media only screen and (min-width: 380px) {
    form.uslugaform {margin-top:-156px;}
    form.zdjecieform {margin-top:-54px;}
    form.wideoform {margin-top:-49px;}
    div.usluga {min-height: calc(100vh - 260px);}
}
@media only screen and (min-width: 600px) {
    ul.tabs {
        display: flex;
    }
    a.active .zakladka{
        border-style: solid solid none solid;
    }
}
@media only screen and (min-width: 1024px) {
    div.usluga {min-height: calc(100vh - 396px);}
    .zakladka {height: 35px;}
}
</style>
{% endblock %}
{% block content %}
<div class="about">
  <h1>&nbsp;{% if request.user.is_authenticated %}<span class="przyciski"><a class="przycisk edytuj edytujpole">Edytuj</a></span>{% endif %}</h1>
  <div class="tresc intro">{{ opis.zawartosc|linebreaks }}</div>
</div>
  <hr />
<h1>Nasze usługi{% if request.user.is_authenticated %}<span class="przyciski"><a class="przycisk dodaj dodajoferte">Dodaj</a></span>{% endif %}</h1>
<ul class="tabs">
  {% for usluga in uslugi %}
  <li><a href="#{{ usluga.slug }}"><div class="zakladka" id="karta-{{ usluga.slug }}">{{ usluga.nazwa }}</div></a></li>
  {% endfor %}
</ul>
<div class="main">
{% for usluga in uslugi %}
<div id="{{ usluga.slug }}" class="usluga">
  <div class="tresc">{% if request.user.is_authenticated %}
    <div class="edytujusun"><span class="przyciski"><span class="przycisk edytuj edytujusluge">Edytuj</span> <a class="przycisk usun" href="{% url "ofertausun" usluga.slug %}">Usuń</a></span></div>{% endif %}{{ usluga.opis|linebreaks }}
  </div>
  <hr />
  <div class="zdjecia">
    {% for zdjecie in zdjecia %}{% ifequal zdjecie.kategoria usluga.slug %}
    <a href="/media/{{ zdjecie.foto }}" data-lightbox="{{ usluga.slug }}"><img src="/media/{{ zdjecie.miniatura }}" width="100px"></a>
    {% endifequal %}{% endfor %}{% if request.user.is_authenticated %}
    <div class ="dodajzdjecie dodaj kwadratowyprzycisk" data-album="{{ usluga.slug }}"><span style="padding-left:36px;font-size:76px;">+</span></div>
    <a class ="usunzdjecie usun kwadratowyprzycisk" data-album="{{ usluga.slug }}" href="{% url "usunzdjecia" usluga.slug %}"><span style="padding-left:36px;font-size:76px;">-</span></a>
    {% endif %}
  </div>
  <hr />
  <div class="wideo">{% load embed_video_tags %}
    {% for film in filmy %}
    {% video film.video as my_video %}{% ifequal film.kategoria usluga.slug %}<div class="wideokwadrat" data-url="{{ my_video.url}}"></div>{% endifequal %}
    {% endvideo %}{% endfor %}{% if request.user.is_authenticated %}
    <div class ="dodajfilmy dodaj kwadratowyprzycisk" data-album="{{ usluga.slug }}"><span style="padding-left:36px;font-size:76px;">+</span></div>
    <a class ="usunfilmy usun kwadratowyprzycisk" data-album="{{ usluga.slug }}" href="{% url "usunfilmy" usluga.slug %}"><span style="padding-left:36px;font-size:76px;">-</span></a>
    {% endif %}
  </div>
</div>
{% endfor %}
</div>

<div class="lightscreen">
  <div class="tlo">
  </div>
  <form id="intro" method="POST" action="{% url "edytujpole" opis.id %}">{% csrf_token %}
    <input type="hidden" name="redirect" value="oferta" />
    <textarea cols="40" name="zawartosc" rows="8">{{ opis.zawartosc }}</textarea>
  <input type="submit" value="Wyślij" />
  </form>
  <form class="uslugaform wyskakujacy" method="POST" action="{% url "ofertadodaj" %}" style="display:none">{% csrf_token %}
    <span class="komunikat"></span><div class="close"></div>
    <input id="nazwa" maxlength="128" name="nazwa" type="text" />
    <textarea cols="40" id="opis" name="opis" rows="10"></textarea>
    <input type="submit" value="Gotowe" />
  </form>
  <form class="zdjecieform wyskakujacy" method="POST" action=" " enctype="multipart/form-data" style="display:none">{% csrf_token %}
    <div class="close"></div>
    <input type="hidden" name="redirect" value="oferta" />
    <input name="zdjecia" type="file" multiple />
    <input type="submit" value="Gotowe" />
  </form>
  <form method="POST" class="wideoform wyskakujacy" action=" " enctype="multipart/form-data" style="display:none">
    <div class="close"></div>
    {% csrf_token %}
    <input type="hidden" name="redirect" value="oferta" />
    <input type="hidden" name="nazwa" value="brak" />
    <h3 style="margin:0px 0px">Adres URL filmu</h3>
    <input id="video" name="video" type="url" />
    <input type="submit" value="Wyślij" />
  </form>
  <div class="wideopodglad" style="position:fixed;display:none"></div>
</div>
{% endblock %}
{% block javascript %}<script src="{% static "js/lightbox.js" %}"></script><script>
$(document).ready(function(){
  {% if uslugi %}
  $('ul.tabs').each(function(){
    var $active, $content, $links = $(this).find('a');
    $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
    $active.addClass('active');
    $content = $($active[0].hash);
    $links.not($active).each(function () {
      $(this.hash).hide();
    });
    $(this).on('click', 'a', function(e){
      $active.removeClass('active');
      $content.hide();
      $active = $(this);
      $content = $(this.hash);
      $active.addClass('active');
      $content.show();
      e.preventDefault();
    });
  });
  {% endif %}
{% if request.user.is_authenticated %}
  $('.edytujpole').click(function(){
    $('div.about .tresc').load("/oferta/ #intro");
  });
  $(".dodajoferte").click(function(){
    $("form.uslugaform").trigger("reset");
    $('form.uslugaform').attr('action', '{% url "ofertadodaj" %}');
    $("form.uslugaform,.lightscreen").show();
  });
  $(".edytujusluge").click(function(){
    var slug = $(this).parents('.usluga').attr('id');
    var nazwakarty = "#karta-" + slug;
    var nazwa = $(nazwakarty).text();
    var opis = "";
    for (i = 0; i < $(this).parents('.usluga').find('div.tresc p').length; i++) {
      opis += $($(this).parents('.usluga').find('div.tresc p')[i]).text() + "\n\n";
    }
    $("form.uslugaform,.lightscreen").show();
    $('form.uslugaform #nazwa').val(nazwa);
    $('form.uslugaform textarea').val(opis);
    $('form.uslugaform').attr('action', '/oferta/edytuj/'+slug+'/');
  });
  $(".dodajzdjecie").click(function(){
    var slug = $(this).attr('data-album');
    $("form.zdjecieform,.lightscreen").show();
    $('form.zdjecieform').attr('action', '/dodaj/zdjecia/'+slug+'/');
  });
  $(".dodajfilmy").click(function(){
    var slug = $(this).attr('data-album');
    $(".lightscreen,form.wideoform").show();
    $('form.wideoform').attr('action', '/dodaj/wideo/'+slug+'/');
  });
{% endif %}
  $("div.wideokwadrat").click(function(){
    var url = $(this).attr('data-url');
    if ($(window).width() <= 600) {
      var width = 300;
      var height = 225;
    } else if ($(window).width() <= 800) {
      var width = 600;
      var height = 450;
    } else {
      var width = 800;
      var height = 600;
    }
    $("div.wideopodglad").html('<iframe src='+url+' width='+width+' height='+height+' border="0"></iframe>');
    $(".lightscreen,div.wideopodglad").show();
  });
  $(".tlo, div.close").click(function(){
    $("form.wyskakujacy,.lightscreen").hide();
    $("iframe").remove();
  });
});{% if request.user.is_authenticated %}
$( "form.uslugaform" ).submit(function( event ) {
  if ( $( "input#nazwa" ).val().length > 0 && $( "textarea#opis" ).val().length > 0 ) {
    $( "span.komunikat" ).text( "Proszę czekać..." ).css('color', '#00ee00').show();
    return;
    }
  $( "span.komunikat" ).text( "Uzupełnij puste pola!" ).css('color', '#ff0000').show().fadeOut( 3000 );
  event.preventDefault();
});{% endif %}
</script>{% endblock %}
