<script>
function swapImages(){
  var $active = $('#slajdy .active');
  var $next = ($('#slajdy .active').next().length > 0) ? $('#slajdy .active').next() : $('#slajdy div:first');
  $active.fadeOut(function(){
  $active.removeClass('active');
  $next.fadeIn().addClass('active');
  });
}

$(document).ready(function(){
  setInterval('swapImages()', 3000);
});
</script>
<style>
#slajdy{
    position:relative;
    margin:0px 0px;
}
#slajdy div{
    display:none;
}
#slajdy div.active{
    display:block;
}
</style>
<div id="slajdy">
  {% for slajd in slajdy %}<div{% if forloop.first %} class="active"{% endif %}><img height="{{ wysokosc }}" width="{{ szerokosc }}" src="{{ slajd.foto.url }}"></div>{% endfor %}
</div>
